.portfolio__resume{
  background: rgba(0,0,0,0.7);
    /* display:none; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #626262;
    width: 600px;
    height: 90%;
    color:white;
    overflow:hidden
  }
  .resume__exit{
    color: "white";
  }