.portfolio__resume{
  background: rgba(0,0,0,0.7);
    /* display:inline; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #626262;
    padding: 10px;
    width: 600px;
    height: 95%;
    color:white;
    overflow:hidden
  }
  .resume__exit{
   display:flex; 
   font-size: 30px;
  padding-left: 47%;
  padding-bottom: 15px;
  height:20px;
  }